.lead {
  display: grid;
  grid-template-columns: minmax(320px, 984px);
  grid-template-rows: auto auto auto auto;
  justify-items: center;
  margin: auto;
  max-width: fit-content;
}

@media screen and (max-width: 1024px){
  .lead{
    max-width: 90.63%;
  }
}

@media screen and (max-width: 768px){
  .lead{
    max-width: 100%;
  }
}

@media screen and (max-width: 320px){
  .lead{
    margin: 48px auto 64px auto;
  }
}