.footer__copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
  padding: 0;
  text-align: end;
  color: #AAAAAA;
}

@media screen and (max-width:600px) {
  .footer__copyright {
    margin-top: 16px;
    text-align: start;
  }
}